extends ../layout

block content
  br
  #inline
      h1= theArticle.name
      
      hr 
      
      br
      fieldset
        form(action="", method="post")
          div
            Title
            label Title
            input#small(type="text" name="article_title") 
          div
            Background 
            label Background URL
            input#small(type="text" name="article_url") 
          div
            Colors 
            label Does background image have dark colors?
            input#big(type="checkbox" name="article_colors" value="checked") 
            br
            br
          div
            Excerpt 
            label Excerpt
            textarea#big(type="textarea" name="article_excerpt"  rows="6" cols="65") 
          
          div
            Body 
            label Body
            textarea#big(type="textarea" name="article_body" rows="6" cols="65") 
          div
            input#button(type="submit", value="Update") 
          br
          form(method="post", action="")  
            br
            input#delete(type="submit", value="Delete", name= "delete")
